* {
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    /* background: linear-gradient(135deg, #ffffff, #1e293b); */
    background-image: url("/static/chat-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
}

.chat-container {
    width: 80%;
    max-width: 95%;
    height: 80%;
    /* background: #e5e7eb; */
    background-image: url("/static/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.chat-header {
    padding: 16px;
    background: none;
    border-bottom: 1px solid #e5e7eb;
    text-align: center;
}

.chat-header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.chat-header span {
    font-size: 0.90rem;
    color: #e5e7eb;
}

.chat-log {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    max-width: 80%;
    padding: 10px 14px;
    border-radius: 14px;
    line-height: 1.4;
    font-size: 1rem;
}

.message.user {
    align-self: flex-end;
    background: #007cc4;
    color: #e3fff8;
    border-bottom-right-radius: 4px;
}

.message.bot {
    align-self: flex-start;
    background: #1e293b;
    color: #e5e7eb;
    border-bottom-left-radius: 4px;
}

.message.typing {
    font-style: italic;
    opacity: 0.7;
}

.chat-form {
    display: flex;
    padding: 12px;
    border-top: 1px solid #e5e7eb;
    gap: 8px;
}

.chat-form input {
    flex: 1;
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1rem;
    background: #020617;
    color: #e5e7eb;
    border: 1px solid #e5e7eb;
}

.chat-form input::placeholder {
    color: #64748b;
}

.chat-form button {
    padding: 0 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #108fd8;
    color: #01261d;
    font-weight: 600;
    font-size: 1rem;
}

.chat-form button:hover {
    background: #007cc4;
}

/* Scrollbar */
#chat-log::-webkit-scrollbar {
    width: 8px;
}

#chat-log::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

#chat-log::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 10px;
}

#chat-log::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
}
